* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    position: relative;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    background: linear-gradient(rgb(61, 67, 238), white)
}

.grama {
    position: absolute;
    background-color: green;
    width: 100%;
    height: 31px;
    top: 470px;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.pipe {
    position: absolute;
    left: -40px;
    bottom: 1px;
    width: 80px;
    z-index: 2;
    animation: pipe-animation 1.5s infinite linear;
}

@keyframes pipe-animation {
    from {
        left: 643px;
    }

    to {
        left: -40px;
    }
}

.mario {
    position: absolute;
    width: 150px;
    bottom: 0px;
    left: 20px;
    z-index: 3;
}

.jump {
    animation: jump 700ms ease-out;
}

@keyframes jump {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 220px;
    }

    100% {
        bottom: 0px;
    } 
}

.clouds {
    position: absolute;
    width: 350px;
    animation: clouds-animation 20s infinite linear;
}

@keyframes clouds-animation {
    from {
        right: -350px;
    }

    to {
        right: 100%;
    }
}